body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.root{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.carts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.carts__list{
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style-type: none;
}
.carts__list-item{
    padding: 90px 40px;
    border: 5px solid rgb(15, 234, 15);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    font-size: 24px;
    font-weight: 700;
    color: green;
}
.main-container{
    margin: 0px 70px;
    flex: 1 1 auto;
}
footer {
    background-color: rgb(23, 23, 23);
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    color: rgb(0, 171, 0);
    font-weight: 500;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}